* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}

body {
  background-color: #333;
  font-family: "Catamaran", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  /* box-shadow: inset 0 0 20px 5px #572700; */
  /* background-image: linear-gradient(#f58224, #994e11); */
  background-image: radial-gradient(#333, #999);
}

label,
p {
  font-size: 1rem;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#ui-canvas {
  z-index: 5;
}

input[type="button"] {
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(#8e7aaa, #542361);
  border: 1px solid #6639a6;
  color: lightgray;
  text-shadow: 0px 0px 5px black;
}

input[type="button"]:active {
  color: white;
}

input[type="checkbox"]:hover {
  cursor: help;
}

.controls-div {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  font-weight: bold;
}

.controls-div div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex: 1;
  border: 1px solid rgb(0, 200, 200);
  border-radius: 20px;
  margin: 0.5rem;
  padding: 1.6rem;
  /* box-shadow: inset 0 0 20px 5px #572700;*/
  background-image: linear-gradient(#333, #444);
}

#num-grains {
  background-image: linear-gradient(cyan, rgb(0, 120, 120));
  background-image: -webkit-linear-gradient(cyan, rgb(0, 120, 120));
  background-image: -moz-linear-gradient(cyan, rgb(0, 120, 120));
}

.controls-div div label {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.controls-div input {
  margin: 1rem;
  font-size: 1rem;
  width: 50%;
}

.controls-div div p {
  font-size: 2rem;
  text-shadow: 0px 0px 5px black;
}

#dump {
  margin: 1rem;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
  cursor: help;
  font-weight: bold;
  background-image: linear-gradient(#8e7aaa, #542361);
  border: 1px solid #6639a6;
  color: lightgray;
  text-shadow: 0px 0px 5px black;
  width: 100%;
}

#dump:active {
  background-image: linear-gradient(#655779, #4b3352);
  color: darkgray;
}

#pause-button {
  min-width: 200px;
}

.options-div input[type="number"],
.controls-div input[type="number"] {
  padding: 10px 15px;
  width: 90px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(#6fe7dd, #3490de);
  border: 1px solid #6fe7dd;
}

#reset:active {
  background-image: linear-gradient(#655779, #4b3352);
  color: darkgray;
}

/* #start-sim-label {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
} */

#sandpile {
  width: 120px;
  padding: 5px;
  text-align: center;
}

#spread,
#rotate {
  cursor: default;
}

/* ================ CANVAS AND OPTIONS DIV ================ */

.options-div label {
  font-size: 1.3rem;
  font-weight: bold;
}

#show-guidelines-div:hover,
#place-free:hover,
#place-center:hover,
#place-two:hover,
#place-two-vertical:hover,
#place-four:hover {
  background-image: linear-gradient(
    rgb(0, 120, 120),
    rgb(0, 50, 50)
  ) !important;
  background-image: -webkit-linear-gradient(
    rgb(0, 120, 120),
    rgb(0, 50, 50)
  ) !important;
  background-image: -moz-linear-gradient(
    rgb(0, 120, 120),
    rgb(0, 50, 50)
  ) !important;
}

#sand-left span {
  color: sandybrown;
  font-weight: bold;
  font-size: 2rem;
}

.top,
.bottom {
  margin: 0.5rem;
  padding: 0.5rem 0rem;
  border: 1px solid cyan;
  border-radius: 20px;
  /* box-shadow: inset 0 0 20px 5px #572700;
  background-image: linear-gradient(#f58224, #994e11); */
  background-image: linear-gradient(#333, #444);
}

.top div {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.top p {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0px 0px 5px black;
}

.top label,
.bottom label {
  font-weight: bold;
  font-size: 2rem;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
}

.bottom p,
.cell-color div p {
  text-shadow: 0px 0px 5px black;
}

.bottom div {
  margin: 1rem;
}

#pH-level-div {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-evenly;
  min-width: 260px;
}

#upf {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}

#upf input[type="range"] {
  width: 100%;
  margin: 1rem 0;
}

.bottom p {
  font-size: 2rem;
  font-weight: bold;
}

.cell-color div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cell-color p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid cyan;
  border-radius: 20px;
  /* box-shadow: inset 0 0 20px 5px #572700;
  background-image: linear-gradient(#f58224, #994e11); */
  background-image: linear-gradient(#333, #444);
}

#canvas-wrapper {
  z-index: 10;
  width: 804px;
  height: 804px;
  border: 2px solid cyan;
}

#canvas-and-options {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-evenly;
  max-height: 900px;
}

/* ================ BACKGROUND DIV ================ */

/* #bg-div */
#bg {
  background-image: url("bg.jpg");
  z-index: 1;

  width: 800px;
  height: 800px;
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
}

/* ================ OPTIONS DIV ================ */

.options-div {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* min-width messes up UI canvas */
}

.options-div div {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid rgb(0, 200, 200);
  border-radius: 20px;
  padding: 1rem;
  cursor: help;
  background-image: linear-gradient(cyan, rgb(0, 120, 120));
  background-image: -webkit-linear-gradient(cyan, rgb(0, 120, 120));
  background-image: -moz-linear-gradient(cyan, rgb(0, 120, 120));
  text-shadow: 0px 0px 2px black;
  max-width: 30vw;
}

.options-div label:hover {
  cursor: help;
}
